.PageLayout {
	display: flex;  
	flex-flow: row wrap;
	font-weight: bold;
	text-align: center;
}

.PageLayout > * {
	padding: 2px;
	flex: 1 100%;
}

.TopPanel {
	border: 1px solid #6633CC;
	height: 2rem;
	padding-bottom: 6px;
}

.SidePanel {
	border: 1px solid #6633CC;
	margin: 2px;
}

.LeftSidePanel {
	width: 2rem;
}

.RightSidePanel {
	width: 2rem;
}

.CentralPanel {
	text-align: center;
	padding: 5px;
	min-height: 550px;
}

.BottomPanel {
	text-align: center;
	height: 2rem;
}

@media all and (min-width: 600px) {
	.SidePanel { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
	.CentralPanel	{ flex: 3 0px; }
	.LeftSidePanel	{ order: 1; } 
	.CentralPanel	{ order: 2; }
	.RightSidePanel { order: 3; }
	.BottomPanel 	{ order: 4; }
}

body {
	padding: 2px;
	background-color: black;
}

h1, p {
	margin: 0px auto;
	text-align: center;
	color: #6633CC;
}

button {
	margin: 0px auto;
	width: 120px;
}

#World {
	border: 1px solid black;
	margin: 0px auto;
	padding: 0px;
}

#ControlButtons {
	border: 1px solid #6633CC;
	padding: 5px;
}
